@import "bourbon";
@import "config";
@import "normalize";

* {
    @include box-sizing(border-box);
}

body {
    background: rgb(240, 235, 214) url('http://delizitas.de/onlineshop/satin-light.png') !important;
    border-top: 2px solid #4F321F;
}

body, td, a {
    font-family: georgia, serif;
    color: #51361F !important;
}

#main * {
    font-size: $fs-m !important;
    line-height: 1.4;
}


br, *:empty {
    display: none;
}

br {
    display: none !important;
}

*[style] {
    background: red !important;
}

a:hover {
    text-decoration: none;
    color: red;
    @include transition();
}

td {
    text-align: left;
}

img {
    max-width: 100%;
}

/*  GENERIC
//////////////////////////////////////////////////////////////////////////////*/

.round {
    border-radius: $radius !important;
}

.highlight {
    text-shadow: 0 0 0 transparent;
    color: $text-color;
    font-weight: bold;
    a {
        text-shadow: 0 0 0 transparent;
        text-decoration: none;
    }
}

.si {
    width: auto;
}

.input {
    color: #000;
    border: 0 solid;
    font-weight: normal;
    width: auto;
    padding: 0;
}


.cbutton, .sbutton, .input {
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

.cbutton {
    border: 0 solid;
    color: $link-color;
    cursor: pointer;
    cursor: hand;
    font-size: $fs-m;
    min-height: auto;
    min-width: auto;
    padding-bottom: 0;
    padding-left: 0;
}

.cbutton:hover, .cbutton:active {
    border: 0 solid ;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}

.bigfont {
    font-size: 1em;
    font-weight: normal !important;
}

.cbutton, .sbutton {
    background: none;
    display: block;
}

.al_button {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.cbutton span {
    background: none;
    padding-left: 0;
}

.aktionen_btn {
    display: block!important;
    font-weight: normal;
    text-align: center;
    font-size:  $fs-m !important;
    margin-bottom: 0;
}

/*  LAYOUT
//////////////////////////////////////////////////////////////////////////////*/

#main {
    width: $page-width;
    height: auto;
    border: 0 solid #fff;
    padding: $p-m;
}

    #header {
        padding-bottom: $p-m;
        background: transparent url('http://delizitas.de/onlineshop/logo.png') no-repeat !important;
        height: auto;
        .headerLogo {
            display: none;
        }
        a {
            display: block;
            width: auto;
            height: 100px;
        }
    }

    #userLeiste {
        background: yellow;
        border: 0 solid;
        padding: 0;
        height: auto;
        a {
            padding: 0;
            background: none;
            &:before {
                content: " / ";
            }
        }
    }

    .navileiste {
        background: orange;
        td {
            height: auto !important;
            background: transparent !important;
            * {
                padding: 0;
            }
            .switch_view {
                text-align: left;
            }
            #rootline {
                background: transparent;
                font-weight: normal;
                padding: 0;
                #rootline_wrap {
                    margin: 0;
                    a {

                    }
                }
            }
            #static_links {
                text-align: left;
                color: $text-color;
                padding: 0;
                a {

                }
            }
        }
    }

    #content-left, #content-center, #content-right {
        padding: 0;
        border-top: 2px solid #4F321F;
        width: auto !important;
    }

    #content-left {
        .cBoxWrap {
            border-radius: 0;
            padding: 0;
            border: 0 solid;
            background: transparent !important;
            .menu_wrap {
                padding-top: 0;
                color: $text-color;
                background-color: green;
                .pages {
                    @include clearfix();
                    p {
                        display: block;
                        width: 1em;
                        height: 1em;
                        background-image: none;
                        margin: 0;
                        padding: 0;
                        position: static;
                        float: left;
                    }
                    p.minus {
                        background: orange;
                    }
                    p.plus {
                        background: green;
                    }
                    a {
                        padding: 0;
                        float: left;
                        display: block;
                        border: 0 solid;
                        background-color: yellow !important;
                        color: $link-color !important;
                        border-bottom-color: transparent;
                    }
                    &.ebene1 {

                    }
                    &.ebene2 {
                        
                    }
                    &.ebene3 {
                        
                    }
                    &.ebene4 {
                        
                    }
                    &.menu_act {
                        font-weight: bold;
                        background: green;
                    }
                    &:hover {
                        text-decoration: none;
                        -moz-box-shadow: 0 0 0 transparent !important;
                        -webkit-box-shadow: 0 0 0 transparent !important;
                        box-shadow: 0 0 0 transparent !important;
                        background: #fff;
                    }
                }
            }
        }
    }

    #content-center {
        background: #fff !important;
        #bnavi {
            text-align: left;
            width: auto;
            .bn_item_wrap {
                margin: 0;
                padding: 0;
                width: 20%;
                .bn_item {
                    width: 100%;
                    height: 12em;
                    background-color: #fff;
                    background: lime;
                    position: relative;
                    table {
                        width: auto;
                        height: auto;
                        tr {
                            td {
                                align: left;
                                a {
                                    padding: 0;
                                    margin: 0;
                                }
                                img {
                                    text-align: left;
                                    padding: 0;
                                    position: absolute;
                                    bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #content-right {
        background: transparent;
        #suche_wrap {
            #suche {
                margin: 0;
                input, .cbutton {
                    display: block;
                    height: auto;
                    padding: 0;

                }
                input[type="text"] {
                    width: 100%;
                }
                button[type="submit"] {
                    width: 100%;
                }
            }
            .suche_submit {
                float: none;
                width: auto;
                heigh: auto;
            }
        }
        #login {
            background-color: transparent;
            background-image: none;
            padding: 0;
            *:empty {
                display: block;
            }
        }
        #aktionen {
            .aktion_item {
                display: block;
                border-bottom: 0 solid;
                margin-bottom: 0;
                min-height: auto;
                padding-top: 0;
                padding-left: 0;
                color: $text-color;
                text-decoration: none;
                background-color: transparent;
                background-image: none;
                height: auto;
                float: left;
                width: 100%;
            }
            .aktion_name {
                float: right;
                width: 68%;
            }
            .aktion_image {
                float: left;
                width: 32%;
                height: auto;
                text-align: left;
                background-color: transparent;
                border-radius: $radius;
                box-shadow: 0 0 0 transparent;
                img {
                    display: block;
                    max-width: 100%;
                    float: right;
                }
            }
        }
    }

    .footer {
        background: brick;
        text-align: left;
        position: static;
    }

    .google {
        position: absolute;
        left: -999em;
    }

#switchMobile {

}

#scrollTop {

}


#header {
    
}











