body {
  background: #f0ebd6 url("http://delizitas.de/onlineshop/satin-light.png") !important;
  border-top: 2px solid #4f321f;
}

body, td, a {
  font-family: georgia, serif;
  color: #51361f !important;
}

#main * {
  font-size: 1em !important;
  line-height: 1.4;
}

br, *:empty {
  display: none;
}

*[style] {
  background: red !important;
}

a:hover {
  text-decoration: none;
  color: red;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  -ms-transition: all 0.15s ease-out 0;
  -o-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
}

.round {
  border-radius: 0;
}

.highlight {
  text-shadow: 0 0 0 transparent;
  color: black;
  font-weight: bold;
}
.highlight a {
  text-shadow: 0 0 0 transparent;
  text-decoration: none;
}

#main {
  width: 980px;
  height: auto;
  border: 0 solid white;
  padding: 1em;
}

#header {
  padding-bottom: 1em;
  background: transparent url("http://delizitas.de/onlineshop/logo.png") no-repeat !important;
  height: auto;
}
#header a {
  display: block;
  width: auto;
  height: 100px;
}

#userLeiste {
  background: yellow;
  border: 0 solid;
  padding: 0;
  height: auto;
}
#userLeiste a {
  padding: 0;
  background: none;
}
#userLeiste a:before {
  content: " / ";
}

.navileiste {
  background: orange;
}
.navileiste td {
  height: auto !important;
  background: transparent !important;
}
.navileiste td * {
  padding: 0;
}
.navileiste td #rootline {
  background: transparent;
  font-weight: normal;
  padding: 0;
}
.navileiste td #rootline #rootline_wrap {
  margin: 0;
}
.navileiste td #static_links {
  text-align: left;
  color: black;
  padding: 0;
}

#content-left, #content-center, #content-right {
  padding: 0;
  border-top: 2px solid #4f321f;
}

#content-left {
  width: auto;
}
#content-left .cBoxWrap {
  border-radius: 0;
  padding: 0;
  border: 0 solid;
  background: transparent !important;
}
#content-left .cBoxWrap .menu_wrap {
  padding-top: 0;
  color: black;
  background-color: green;
}
#content-left .cBoxWrap .menu_wrap .pages {
  *zoom: 1;
}
#content-left .cBoxWrap .menu_wrap .pages:before, #content-left .cBoxWrap .menu_wrap .pages:after {
  content: " ";
  display: table;
}
#content-left .cBoxWrap .menu_wrap .pages:after {
  clear: both;
}
#content-left .cBoxWrap .menu_wrap .pages p {
  display: block;
  width: 1em;
  height: 1em;
  background-image: none;
  margin: 0;
  padding: 0;
  position: static;
  float: left;
  margin-right: .5em;
}
#content-left .cBoxWrap .menu_wrap .pages p.minus {
  background: orange;
}
#content-left .cBoxWrap .menu_wrap .pages p.plus {
  background: green;
}
#content-left .cBoxWrap .menu_wrap .pages a {
  padding: 0;
  float: left;
  display: block;
  border: 0 solid;
  background-color: yellow !important;
  color: black !important;
  border-bottom-color: transparent;
}
#content-left .cBoxWrap .menu_wrap .pages.menu_act {
  font-weight: bold;
  background: green;
}
#content-left .cBoxWrap .menu_wrap .pages:hover {
  text-decoration: none;
  -moz-box-shadow: 0 0 0 transparent !important;
  -webkit-box-shadow: 0 0 0 transparent !important;
  box-shadow: 0 0 0 transparent !important;
  background: #fff;
}

#content-center {
  background: white !important;
  width: auto;
}
#content-center #bnavi {
  text-align: left;
  width: auto;
}
#content-center #bnavi .bn_item_wrap {
  margin: 0;
  padding: 0;
  width: 20%;
}
#content-center #bnavi .bn_item_wrap .bn_item {
  width: 100%;
  height: 12em;
  background-color: #fff;
  background: lime;
}
#content-center #bnavi .bn_item_wrap .bn_item table tr td a {
  padding: 0;
  margin: 0;
}
#content-center #bnavi .bn_item_wrap .bn_item table tr td img {
  text-align: left;
  padding: 0;
}

#content-right {
  width: auto;
}

.headerLogo {
  display: none;
}

#rootline {
  background: transparent !important;
}

.switch_view {
  text-align: left !important;
}

.footer {
  background: transparent !important;
  padding: 1em;
  color: #4f321f !important;
}

.se {
  display: none;
}

.google {
  position: absolute;
  left: 100%;
}

#switchMobile {
  padding: 1em !important;
  text-align: center;
}

#switchMobile span {
  color: #4f321f !important;
}

#suche form {
  position: relative;
}

input.link, button[type="submit"] {
  background: #cf6916;
  color: #fff;
  border: 0 solid;
  border-radius: 2px;
}

#suche form button[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
}

.input {
  color: #000;
  border: 1px solid #eeeeee;
  font-weight: bold;
  overflow: hidden;
  width: 170px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1;
}

#suche_wrap input, #suche_wrap .cbutton {
  display: inline-block;
  height: auto;
  padding: .5em;
  margin: 0;
}

.produktListe_item {
  background: #fff;
}

#login {
  background-color: transparent;
  padding-top: 0;
  padding-left: 0;
}

.cbutton span {
  background: none !important;
  padding: 0;
  display: inline-block;
}

.cbutton:hover {
  border: 0 solid;
}

.cbutton, .sbutton, .input {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: .5em;
}

.cbutton {
  background: #ce6a18 !important;
  color: white !important;
  border-radius: 2px;
}

.cbutton:hover, .cbutton:active {
  border: 0 solid white;
  -moz-box-shadow: 0px 0px 0 #444444;
  -webkit-box-shadow: 0px 0px 0 #444444;
  box-shadow: 0px 0px 0 #444444;
}

.cbutton, .sbutton {
  background: none left repeat-x;
  border: 0 solid;
}

#login .input {
  width: 95%;
}
