@import "bourbon";
@import "config";

body {
    background: rgb(240, 235, 214) url('http://delizitas.de/onlineshop/satin-light.png') !important;
    border-top: 2px solid #4F321F;
}

body, td, a {
    font-family: georgia, serif;
    color: #51361F !important;
}

#main * {
    font-size: $fs-m !important;
}


br, *:empty {
    display: none;
}

*[style] {
    background: red !important;
}

a:hover {
    text-decoration: none;
    color: red;
    @include transition();
}

/*  GENERIC
//////////////////////////////////////////////////////////////////////////////*/

.round {
    border-radius: $radius;
}

/*  LAYOUT
//////////////////////////////////////////////////////////////////////////////*/

#main {
    width: $page-width;
    height: auto;
    border: 0 solid #fff;
    padding: $p-m;
}

    #header {
        padding-bottom: $p-m;
        background: transparent url('http://delizitas.de/onlineshop/logo.png') no-repeat !important;
        height: auto;
        a {
            display: block;
            width: auto;
            height: 100px;
        }
    }

    #userLeiste {
        background: yellow;
        border: 0 solid;
        padding: 0;
        height: auto;
        .highlight {
            text-sahdow: 0 0 0 transparent;
            color: $text-color;
            font-weight: bold;
            a {
                text-shadow: 0 0 0 transparent;
                text-decoration: none;
            }
        }
        a {
            padding: 0;
            background: none;
            &:before {
                content: " / ";
            }
        }
    }

    .navileiste {
        background: orange;
        td {
            height: auto !important;
            background: transparent !important;
            * {
                padding: 0;
            }
            .switch_view {

            }
            #rootline {
                background: transparent;
                font-weight: normal;
                padding: 0;
                #rootline_wrap {
                    margin: 0;
                    a {

                    }
                }
            }
            #static_links {
                text-align: left;
                color: $text-color;
                padding: 0;
                a {

                }
            }
        }
    }

    #content-left, #content-center, #content-right {
        padding: 0;
        border-top: 2px solid #4F321F;
    }

    #content-left {
        width: auto;
        .cBoxWrap {
            border-radius: 0;
            padding: 0;
            border: 0 solid;
            background: transparent !important;
            .menu_wrap {
                padding-top: 0;
                color: $text-color;
                background-color: transparent;
                .pages {
                    @include clearfix();
                    p {
                        display: block;
                        width: 1em;
                        height: 1em;
                        background-image: none;
                        margin: 0;
                        padding: 0;
                        position: static;
                        float: left;
                        margin-right: .5em;
                    }
                    p.minus {
                        background: orange;
                    }
                    p.plus {
                        background: green;
                    }
                    a {
                        background: blue;
                        padding: 0;
                        float: left;
                        display: block;
                        border: 0 solid;
                    }
                    &.ebene1 {

                    }
                    &.ebene2 {
                        
                    }
                    &.ebene3 {
                        
                    }
                    &.ebene4 {
                        
                    }
                    &.menu_act {
                        font-weight: bold;
                        background: green;
                    }
                    &:hover {
                        text-decoration: none;
                        -moz-box-shadow: 0 0 0 transparent;
                        -webkit-box-shadow: 0 0 0 transparent;
                        box-shadow: 0 0 0 transparent;
                        background: #fff;
                    }
                }
            }
        }
    }

    #content-center {

    }

    #content-right {

    }

    .footer {

    }

    .google {

    }

#switchMobile {

}

#scrollTop {

}


#header {
    
}





#content-center {
    background: #fff !important;
}


#content-left .ebene1 a, #content-left .ebene2 a, #content-left .ebene3 a, #content-left .ebene4 a {
background-color: transparent !important;
color: inherit !important;
border-bottom-color: transparent;
}



.headerLogo {
    
    display: none;
}

#rootline {
    background: transparent !important;
}

.switch_view {
    text-align: left !important;

}


.footer {
    background: transparent !important;
    padding:1em;
    color: #4F321F !important;
}

.se {
    display: none;
}


.google {
    position: absolute;
    left: 100%;
}

#switchMobile {
    padding: 1em !important;
    text-align: center;
}

#switchMobile span {

    color: #4F321F !important;
}

#suche form {
    position: relative;
}


input.link, button[type="submit"] {
    background: rgb(207, 105, 22);
    color: #fff;
    border: 0 solid;
    border-radius: 2px;
    
}

#suche form button[type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
}

.input {
color: #000;
border: 1px solid #eee;
font-weight: bold;
overflow: hidden;
width: 170px;
padding-top: 0;
padding-bottom: 0;
line-height: 1;
}

#suche_wrap input, #suche_wrap .cbutton {
display: inline-block;
height: auto;
padding: .5em;
margin: 0;
}

.bn_item {
background-color: #fff;
border-top: 2px solid #CE6A18;
}

.bn_item:hover {
border-top: 2px solid #4F321F;
}


.produktListe_item {
    background: #fff;
}

#login {
background-color: transparent;
padding-top: 0;
padding-left: 0;
}

.cbutton span {
    background: none !important;
    padding: 0;
    display: inline-block;
}


.cbutton:hover {
    border: 0 solid;
}

.cbutton, .sbutton, .input {
-webkit-border-radius: 0;
border-radius: 0;
padding: .5em;
}

.cbutton {
    background: #CE6A18 !important;
    color: #fff !important;
    border-radius: 2px;
}

.cbutton:hover, .cbutton:active {
border: 0 solid #fff;
-moz-box-shadow: 0px 0px 0 #444;
-webkit-box-shadow: 0px 0px 0 #444;
box-shadow: 0px 0px 0 #444;
}

.cbutton, .sbutton {
background: none left repeat-x;
border: 0 solid;
}

#login .input {
width: 95%;
}

